@{ ViewBag.Title = "Home";
    Layout = "~/Views/Shared/mainlayout.cshtml"; 
    
   }
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="~/Script/modernizr-2.8.3.js"></script>
<script src="~/Content/bootstrap.bundle.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<br />
<div style ="text-align:center">
    <img src="\image\images.png" class="img-responsive">
</div>
<h1 class="fl-heading" style="text-align:center">
    <span class="fl-heading-text" style="text-align:center">Welcome GCEK Library Management System</span>
</h1>
<br>
<hr class="my-2">
<p class="lead text-sm-center">
    This is an a online Library management system which helps to you monitor and control the transactons in the library,
    Through this a library user can find the books, request the books, return the books etc...
</p>
<p>
    <marquee behavior="scroll" direction="left">
        <p style="text-align: center;"><a library="" will="" remain="" open="" from="" 9.00="" am="" to="" 11.00="" pm="" (monday="" friday)="" and="" weekends(saturday="" sunday="" holiday)="" 10.00="" 5.00="" pm.="" <big=""><font color="red"> <strong> Central Library will remain open from 9.00 AM to 11.00 PM (Monday to Friday) and Weekends(Saturday/Sunday/Holiday) 10.00 AM to 5.00 PM.</strong></font></a><font color="red"><strong><strong></strong></strong></font></p>
    </marquee>
</p>
<div class="row">
    <div class="col">
        <div class="card" style="background-color:#292b2c">

            <div style="padding-bottom:90px; padding-top:30px;" class="col-6 offset-1 text-light bg-primary">
                <h5 class="card-title">Circular Section Timing</h5>

                <p class="card-text">
                    Monday To Saturday<br>
                    Time: 9:30 AM To 5:45 PM


                </p>
                <h5 class="card-title">Address</h5>

                <p class="card-text">
                    Vidyanagar Karad,<br>
                    Dist-Satara Maharashtra(india),<br>
                    Pin: 415124

                </p>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card bg-dark">
            @*<img style="width:100%; height:393px; object-fit: cover;" src="https://images.pexels.com/photos/247899/pexels-photo-247899.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="...">*@
            <div id="carouselExampleCaptions" class="carousel slide" data-interval="2000" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img style="width:100%; height:393px; object-fit: cover;" src="https://images.pexels.com/photos/247899/pexels-photo-247899.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>
                                "When in doubt, go to the library."
                            </p>
                            <h6 style="text-align: unset; font-style: italic;">Ron Weasley</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Nothing is more impotent than an unread library."</p>
                            <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="~/image/IMG_20230718_155502.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Nothing is more impotent than an unread library."</p>
                            <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="~/image/IMG_20230718_155529.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Nothing is more impotent than an unread library."</p>
                            <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="~/image/IMG_20230718_155553.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Nothing is more impotent than an unread library."</p>
                            <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="~/image/IMG_20230718_155707.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Nothing is more impotent than an unread library."</p>
                            <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="~/image/IMG_20230718_155718.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Nothing is more impotent than an unread library."</p>
                            <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="~/image/IMG_20230718_155740.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Nothing is more impotent than an unread library."</p>
                            <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="~/image/IMG_20230718_155746.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Nothing is more impotent than an unread library."</p>
                            <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="~/image/IMG_20230718_155916.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Nothing is more impotent than an unread library."</p>
                            <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="~/image/IMG_20230718_155551.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Nothing is more impotent than an unread library."</p>
                            <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;" src="https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>"Overall, the library held a hushed exultation, as though the cherished volumes were all singing soundlessly within their covers."</p>
                            <h6 style="text-align: unset; font-style: italic;">Diana Gabaldon</h6>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<br />
<div class="jumbotron text-dark bg-light">
    <br />
    <h2 style="text-align:center">Library Informatin</h2>
    <br />
    <div>
        <table class=" table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Sr. No.</th>
                    <th>Particular</th>
                    <th>Avaliable</th>
                </tr>
            </thead>
            <tr>
                <td>1.</td>
                <td>Total no of books /volume</td>
                <td>75914</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Total no of Titles</td>
                <td>22914</td>

            </tr>
            <tr>
                <td>3.</td>
                <td>Access of EBooks</td>
                <td>2663</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Print Jornals</td>
                <td>
                    <table>
                        <tr>
                            <th> National</th>
                            <th> InterNational</th>
                            <th> Total</th>
                        </tr>
                        <tr>
                            <td>106</td>
                            <td>35</td>
                            <td>141</td>

                        </tr>
                    </table>

                </td>


            </tr>
            <tr>
                <td>5.</td>
                <td>
                    Total No of EResources
                </td>
                <td>2373+</td>
            </tr>
            <tr>
                <td>6.</td>
                <td>
                    Bound Volume
                </td>
                <td>3995</td>
            </tr>
            <tr>
                <td>7.</td>
                <td>
                    Book Bank Facility (for
                    SC/ST/OBC/EBC/OPEN student)
                </td>
                <td>Avaliable</td>
            </tr>
            <tr>
                <td>8.</td>
                <td>
                    Total Area Of Library
                </td>
                <td>665.272 Sq.</td>
            </tr>
            <tr>
                <td>9.</td>
                <td>
                    Reading Room/Digital Library Capacity
                </td>
                <td>150</td>
            </tr>
            <tr>
                <td>10.</td>
                <td>
                    Reprographic Facility
                </td>
                <td>Avaliable</td>
            </tr>
            <tr>
                <td>11.</td>
                <td>
                    Reference And Perodicial Seating
                    Capacity
                </td>
                <td>50</td>
            </tr>
            <tr>
                <td>12.</td>
                <td>
                    NPTEL Facility
                </td>
                <td>Avaliable For All Branches</td>
            </tr>
            <tr>
                <td>13.</td>
                <td>
                    Reading/Digital Libirary Timing
                </td>
                <td>6:00 a.m. to 12:00 P.M. </td>
            </tr>
            <tr>
                <td>14.</td>
                <td>
                    Usage Data of Library
                    (daily boooks issues and return
                    Summary of Student And Staff)
                </td>
                <td>500-600</td>
            </tr>
            <tr>
                <td>15.</td>
                <td>
                    Total Nodes/Computers With Netwoking
                    Facility
                </td>
                <td>50 Nodes</td>
            </tr>

        </table>
    </div>
    <br />

    <hr class="my-2">
    <p style="text-align:center">Our vision is to provide modern library management system.</p>
    <a class="btn btn-primary btn-sm text-light " role="button">Learn more</a>
</div>



